@model SportSystem.Web.ViewModels.MatchViewModel

<div class="row">
    <div class="well">
        <h3>@Model.HomeTeam <span> vs </span> @Model.AwayTeam</h3>
        <p>Start: @Model.MatchDate</p>
    </div>
</div>