<!-- Registration form -->
<section>
    <div class="register-form">
        <header class="main-header">Register</header>
        <div class="data">
            <form action="" name="registerForm">
                <label for="username">Username:</label>
                <input type="text" id="username" placeholder="Username..." required="true" ng-model="user.username" />
                <label for="password">Password:</label>
                <input type="password" id="password" placeholder="Password..." required="true" ng-model="user.password" />
                <label for="confirm-password">Confirm password:</label>
                <input type="password" id="confirm-password" name="confirmPassword" 
                       placeholder="Password again..." required="true" ng-model="rePassword" compare-to="user.password" />
                <div ng-messages="registerForm.confirmPassword.$error" ng-messages-include="templates/messages.html" 
                    style="color: red"></div>
            </form>
            <div class="panel">
                <button class="button" id="register-button" ng-click="register(user)">Register</button>
                <span>or</span>
                <a href="#/login">Login</a>
            </div>
        </div>
    </div>
</section>