body > header {
    background: lightgreen;
    color: black;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    border: 1px solid black;
}

body {
    padding: 0;
    margin: 0;
}

body > header > ul {
    margin: 1%;
}

body li {
    list-style-type: none;
}

body > header li#userbar {
    position: relative;;
    right: -200%;
}

body>header>a>img, body>header ul, body>header ul>li  {
    display: inline-block;
    vertical-align: middle;
}

body > header a {
    text-decoration: none;
    color: black;
}

body > header li#userbar a#logout-btn {
    position: relative;
    left: 58%;
}

body > header a:hover {
    text-decoration: underline;
    color: white;
}

div#filterbar {
    border: 1px solid black;
    margin: 10px;
    padding: 0.5%;
    width: 50%;
}

div#filterbar #filter {
    float: right;
}
