@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Twitter Next Generation</h1>
    <p class="lead">
        Twitter Next Generation (NG) is a ASP.NET MVC 5 application built by Stoyan Stoyanov from SoftUni.
    </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>