input#filter {
    float: right;
}

a#users-btn, a#logout-btn {
    float: right;
}

li.spacer {
    width: 4%;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}