USE [SportSystemDb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 14.6.2015 г. 16:10:16 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 14.6.2015 г. 16:10:16 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 14.6.2015 г. 16:10:16 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 14.6.2015 г. 16:10:16 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 14.6.2015 г. 16:10:16 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 14.6.2015 г. 16:10:16 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bets]    Script Date: 14.6.2015 г. 16:10:16 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Money] [decimal](18, 2) NOT NULL,
	[MatchId] [int] NOT NULL,
	[HomeTeamBet] [decimal](18, 2) NULL,
	[AwayTeamBet] [decimal](18, 2) NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[AwayTeam_Id] [int] NULL,
	[HomeTeam_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Bets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comments]    Script Date: 14.6.2015 г. 16:10:16 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[DateCommented] [datetime] NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[MatchId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Matches]    Script Date: 14.6.2015 г. 16:10:16 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matches](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MatchDate] [datetime] NOT NULL,
	[HomeTeamId] [int] NOT NULL,
	[AwayTeamId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Matches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Players]    Script Date: 14.6.2015 г. 16:10:16 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Players](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[BirthDate] [datetime] NOT NULL,
	[Height] [real] NOT NULL,
	[TeamId] [int] NULL,
 CONSTRAINT [PK_dbo.Players] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Teams]    Script Date: 14.6.2015 г. 16:10:16 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[NickName] [nvarchar](max) NULL,
	[WebSite] [nvarchar](max) NULL,
	[DateFounded] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Teams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Votes]    Script Date: 14.6.2015 г. 16:10:16 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Votes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[TeamId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Votes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'0fa19110-6641-49d0-903e-dab5b9bd00cc', N'alex@usa.net', 0, N'ANihSJI/HIGUKBBI1kTChcSREbzMGUqUCcBINQU239UD2TzrwK2C/7KI9pEODUfqFw==', N'486067ba-c4c2-4b3a-8991-a0ddebfce42f', NULL, 0, 0, NULL, 1, 0, N'alex@usa.net')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'ccd049fe-4496-4cba-8b73-d6e2a29dd6e4', N'tanya@gmail.com', 0, N'ADocFCvylDv6LKw0Xqasm/ZC0aht+bmsGDgTfcsxCaJdmKAsmlpzc5CzJpp6WSOiCA==', N'a063f58e-43ed-4e12-8edc-edbbd12b2374', NULL, 0, 0, NULL, 1, 0, N'tanya@gmail.com')
SET IDENTITY_INSERT [dbo].[Bets] ON 

INSERT [dbo].[Bets] ([Id], [Money], [MatchId], [HomeTeamBet], [AwayTeamBet], [UserId], [AwayTeam_Id], [HomeTeam_Id]) VALUES (1, CAST(0.00 AS Decimal(18, 2)), 4, CAST(30.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'0fa19110-6641-49d0-903e-dab5b9bd00cc', NULL, NULL)
INSERT [dbo].[Bets] ([Id], [Money], [MatchId], [HomeTeamBet], [AwayTeamBet], [UserId], [AwayTeam_Id], [HomeTeam_Id]) VALUES (2, CAST(0.00 AS Decimal(18, 2)), 4, CAST(0.00 AS Decimal(18, 2)), CAST(50.00 AS Decimal(18, 2)), N'0fa19110-6641-49d0-903e-dab5b9bd00cc', NULL, NULL)
INSERT [dbo].[Bets] ([Id], [Money], [MatchId], [HomeTeamBet], [AwayTeamBet], [UserId], [AwayTeam_Id], [HomeTeam_Id]) VALUES (3, CAST(0.00 AS Decimal(18, 2)), 4, CAST(0.00 AS Decimal(18, 2)), CAST(120.00 AS Decimal(18, 2)), N'0fa19110-6641-49d0-903e-dab5b9bd00cc', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Bets] OFF
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([Id], [Content], [DateCommented], [UserId], [MatchId]) VALUES (1, N'The best match this summer!', CAST(N'2016-03-05 00:00:00.000' AS DateTime), N'0fa19110-6641-49d0-903e-dab5b9bd00cc', 2)
INSERT [dbo].[Comments] ([Id], [Content], [DateCommented], [UserId], [MatchId]) VALUES (2, N'The good football this evening.', CAST(N'2016-03-06 00:00:00.000' AS DateTime), N'ccd049fe-4496-4cba-8b73-d6e2a29dd6e4', 2)
INSERT [dbo].[Comments] ([Id], [Content], [DateCommented], [UserId], [MatchId]) VALUES (3, N'Barca!', CAST(N'2016-03-07 00:00:00.000' AS DateTime), N'ccd049fe-4496-4cba-8b73-d6e2a29dd6e4', 3)
SET IDENTITY_INSERT [dbo].[Comments] OFF
SET IDENTITY_INSERT [dbo].[Matches] ON 

INSERT [dbo].[Matches] ([Id], [MatchDate], [HomeTeamId], [AwayTeamId]) VALUES (1, CAST(N'2015-06-13 00:00:00.000' AS DateTime), 2, 1)
INSERT [dbo].[Matches] ([Id], [MatchDate], [HomeTeamId], [AwayTeamId]) VALUES (2, CAST(N'2015-06-14 00:00:00.000' AS DateTime), 4, 1)
INSERT [dbo].[Matches] ([Id], [MatchDate], [HomeTeamId], [AwayTeamId]) VALUES (3, CAST(N'2015-06-15 00:00:00.000' AS DateTime), 3, 5)
SET IDENTITY_INSERT [dbo].[Matches] OFF
SET IDENTITY_INSERT [dbo].[Players] ON 

INSERT [dbo].[Players] ([Id], [Name], [BirthDate], [Height], [TeamId]) VALUES (1, N'Alexis Sanchez', CAST(N'1982-01-03 00:00:00.000' AS DateTime), 1.65, 3)
INSERT [dbo].[Players] ([Id], [Name], [BirthDate], [Height], [TeamId]) VALUES (2, N'Arjen Robben', CAST(N'1982-01-03 00:00:00.000' AS DateTime), 1.65, 2)
INSERT [dbo].[Players] ([Id], [Name], [BirthDate], [Height], [TeamId]) VALUES (3, N'Franck Ribery', CAST(N'1982-01-03 00:00:00.000' AS DateTime), 1.65, 1)
SET IDENTITY_INSERT [dbo].[Players] OFF
SET IDENTITY_INSERT [dbo].[Teams] ON 

INSERT [dbo].[Teams] ([Id], [Name], [NickName], [WebSite], [DateFounded]) VALUES (1, N'Manchester United F.C.', N'The Red Devils', N'http://www.manutd.com', CAST(N'1878-06-01 00:00:00.000' AS DateTime))
INSERT [dbo].[Teams] ([Id], [Name], [NickName], [WebSite], [DateFounded]) VALUES (2, N'Real Madrid', N'The Whites', N'http://www.realmadrid.com', CAST(N'1902-03-06 00:00:00.000' AS DateTime))
INSERT [dbo].[Teams] ([Id], [Name], [NickName], [WebSite], [DateFounded]) VALUES (3, N'FC Barcelona', N'Barca', N'http://www.fcbarcelona.com', CAST(N'1899-11-12 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Teams] OFF
SET IDENTITY_INSERT [dbo].[Votes] ON 

INSERT [dbo].[Votes] ([Id], [UserId], [TeamId]) VALUES (1, N'ccd049fe-4496-4cba-8b73-d6e2a29dd6e4', 4)
INSERT [dbo].[Votes] ([Id], [UserId], [TeamId]) VALUES (2, N'ccd049fe-4496-4cba-8b73-d6e2a29dd6e4', 2)
INSERT [dbo].[Votes] ([Id], [UserId], [TeamId]) VALUES (3, N'0fa19110-6641-49d0-903e-dab5b9bd00cc', 4)
SET IDENTITY_INSERT [dbo].[Votes] OFF
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Bets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Bets_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Bets] CHECK CONSTRAINT [FK_dbo.Bets_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Bets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Bets_dbo.Matches_MatchId] FOREIGN KEY([MatchId])
REFERENCES [dbo].[Matches] ([Id])
GO
ALTER TABLE [dbo].[Bets] CHECK CONSTRAINT [FK_dbo.Bets_dbo.Matches_MatchId]
GO
ALTER TABLE [dbo].[Bets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Bets_dbo.Teams_AwayTeam_Id] FOREIGN KEY([AwayTeam_Id])
REFERENCES [dbo].[Teams] ([Id])
GO
ALTER TABLE [dbo].[Bets] CHECK CONSTRAINT [FK_dbo.Bets_dbo.Teams_AwayTeam_Id]
GO
ALTER TABLE [dbo].[Bets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Bets_dbo.Teams_HomeTeam_Id] FOREIGN KEY([HomeTeam_Id])
REFERENCES [dbo].[Teams] ([Id])
GO
ALTER TABLE [dbo].[Bets] CHECK CONSTRAINT [FK_dbo.Bets_dbo.Teams_HomeTeam_Id]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.Matches_MatchId] FOREIGN KEY([MatchId])
REFERENCES [dbo].[Matches] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.Matches_MatchId]
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Matches_dbo.Teams_AwayTeamId] FOREIGN KEY([AwayTeamId])
REFERENCES [dbo].[Teams] ([Id])
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK_dbo.Matches_dbo.Teams_AwayTeamId]
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Matches_dbo.Teams_HomeTeamId] FOREIGN KEY([HomeTeamId])
REFERENCES [dbo].[Teams] ([Id])
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK_dbo.Matches_dbo.Teams_HomeTeamId]
GO
ALTER TABLE [dbo].[Players]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Players_dbo.Teams_TeamId] FOREIGN KEY([TeamId])
REFERENCES [dbo].[Teams] ([Id])
GO
ALTER TABLE [dbo].[Players] CHECK CONSTRAINT [FK_dbo.Players_dbo.Teams_TeamId]
GO
ALTER TABLE [dbo].[Votes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Votes_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Votes] CHECK CONSTRAINT [FK_dbo.Votes_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Votes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Votes_dbo.Teams_TeamId] FOREIGN KEY([TeamId])
REFERENCES [dbo].[Teams] ([Id])
GO
ALTER TABLE [dbo].[Votes] CHECK CONSTRAINT [FK_dbo.Votes_dbo.Teams_TeamId]
GO
